* {
	box-sizing: border-box;
}

body {
	font-family: Impact, Haettenschweiler, sans-serif;
}

button {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
	border: 2px solid black;
	width: 15px;
	height: 15px;
	padding: 2px;
	margin-left: 2px;
}

.placeholder {
    border: 2px dashed blue;
    background-color: rgba(173, 216, 230, 0.5);
    height: 15px;
    margin: 2px;
    display: none;
}

.title {
	text-align: center;
}

.container {
	text-align: center;
	padding: 20px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lists {
	padding: 10px;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	margin: 5px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.green {
    background-color: #4CAF50;
}

.green:hover {
    background-color: #45a049;
}

.red {
    background-color: #f44336;
}

.red:hover {
    background-color: #d32f2f;
}

.blue {
    background-color: #2196F3;
}

.blue:hover {
    background-color: #1976D2;
}

.gray {
    background-color: #9E9E9E;
}

.gray:hover {
    background-color: #757575;
}

.toggleButtons {
	display: none;
}

.list {
    width: 300px;
    min-height: 100px;
	padding: 10px;
	display: flex;
	flex-direction: row;
    justify-content: center;
	flex-wrap: nowrap;
	margin: 5px;
}

.overlay {
	display: flex;
	flex-direction: row;
	padding: 15px;
	border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

#id {
	width: 200px;
    height: 200px;
    border: 1px solid #000;
}

#colorSquare {
	width: 200px;
    height: 200px;
    border: 1px solid #000;
	border-radius: 10%;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
	transition: background-color 0.3s, box-shadow 0.3s;
}

#colorSquare:hover {
	box-shadow: 0 4px 15px black;
}

#undoList, #redoList {
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

#undoList li, #redoList li {
    border: 2px solid black;
    width: 15px;
    height: 15px;
    margin: 2px;
}


#undoList:hover, #redoList:hover {
	box-shadow: 0 4px 15px black;
}

@media (max-width: 600px) {
    #colorSquare {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    #undoList, #redoList {
        width: 90%;
        min-width: 150px;
        max-height: 150px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        overflow-y: auto;
    }

    #undoList div, #redoList div {
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    .toggleButtons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}